/*
  DIAGNOSTIC STYLING
*/

/************
LAYOUT
************/
body {
  background: #05378c;
  /* Center to Page   */
  margin: 0 auto;
  max-width: 65em;

  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;

  color: white;
}

#header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 2px solid white;
  background-color: #0542aa;
}

.nav2 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  
}

a{
  text-decoration: none;
  color: white;
}

header, footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

#actors{
text-align: center;
}

.info{
  text-align: center;
  margin-bottom: -10px;
}

aside {
  border: 2px solid white;
  background-color: #0542aa;
  grid-column: span 2;
  text-align: center;
  color: white;
}


#rated {
  margin: 0 auto;
}

/************
HEADER
************/
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -70px;
}

h3{
display: flex;
justify-content: center;
  margin-top: -100px;
}

/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: steelblue;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main article{
  display: flex;
  max-width: 100%;
}
/************
FOOTER
************/
footer {
  text-align: center;
  background: #05378c;
  color:white;
}

/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}