/*
  DIAGNOSTIC STYLING
*/
/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Skranji');

/************
LAYOUT
************/
body {
  background: #0b395c;
  /* Center to Page   */
  margin: 0 auto;
  max-width: 65em;


  
  /* CSS Grid Layout   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;

  color: white;
}

#brief{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;;
}

header, footer {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}


.info{
  text-align: center;
  margin-bottom: -10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

aside {
  border: 2px solid white;
  background-color:#224f71;;
  grid-column: span 2;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#dvdname{
  margin-top: 3px;
}
#dvd{
  align-self: center;
  margin-top: 15px;
}
button{
  background-color: darkorange;
  color:white;
  border: none;
  border-radius: 6px;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -10px;

}

/************
HEADER
************/
#logo{
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 2px solid white;
  background-color: #224f71;;
  font-family: 'Skranji', cursive;
  font-size: 25px;
  text-transform: uppercase;  
}

.nav2 {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  position: relative;
}

#home, #casts{
  color:gold;
}
#tickets{
color:rgba(255, 77, 0, 0.845);
}
#theater{
  color: orange;
}

a{ 
  text-decoration: none;
  color: white;
}

h3{
display: block;
margin-top: 10px;
text-align: center;
padding: 20px;
background-color: #224f71;
border: 2px solid white;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
}

span.word2, span.word5, span.word8, span.word12,span.word15, span.word18{
  color: rgba(255, 77, 0, 0.845);
}
span.word3, span.word6, span.word9, span.word13,span.word16{
  color:orange;
}
span.word4, span.word1, span.word7,span.word11,span.word14, span.word17{
  color:gold;
}

span.word10{
  color:rgb(37, 196, 37);
}


/************
MOVIE TRAILER w/ MEDIA ELEMENT PLAYER
************/
/* Fit <video> to container */
video {
  max-width: 100%;
}

.mejs__currenttime, 
.mejs__duration {
  font-size: 18px;
}

.mejs__time-current {
  background: steelblue;
}

/************
ACTORS
************/
main section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main article{
  display: flex;
  max-width: 100%;
}

#actors{
  text-align: center;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
/************
FOOTER
************/
footer {
  text-align: center;
  background: #0b395c;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
}
#rated {
  margin: 0 auto;
}


/************
RWD
************/
@media (max-width: 700px) {

  main,
  aside {
    grid-column: 1 / span 5;
  }
  
}